h1{
  color: lightblue;
  font-style: normal;
}
h3 {
  color: blue;
}
th {
  color: red;
}
ol {
  color: red;
}
hr{
  border-style: none;
  border-top: dotted;
  border-color: blue;
  border-width: 5px;
  width: 15%;
}
body {
  background-color: lightyellow;
}
img {
  height: 180px;
  width: 88%;
}
